@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 27 67% 91%; /* Light Peach #F8E7D9 */
    --foreground: 20 14% 4%;
    --card: 0 0% 100%;
    --card-foreground: 20 14% 4%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14% 4%;
    --primary: 16 100% 64%; /* Vibrant Orange #FF7849 */
    --primary-foreground: 0 0% 100%;
    --secondary: 36 100% 60%; /* Yellow-Orange #FFAC33 */
    --secondary-foreground: 20 14% 4%;
    --muted: 27 40% 85%;
    --muted-foreground: 20 14% 35%;
    --accent: 36 100% 60%;
    --accent-foreground: 20 14% 4%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 27 40% 80%;
    --input: 27 40% 80%;
    --ring: 16 100% 64%;
    --radius: 1.25rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
    font-family: var(--font-inter), sans-serif;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-space), sans-serif;
  }
}
